body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font: "Roboto";
    flex-direction: column;
    border: 3px solid red;
    padding: 5px 300px 5px 300px;
}

.subheader {
    margin: 10px;
    padding: 10px;
    display: flex;
}

.description,
.placeholder {
    border: 1px solid white;
    justify-content: center;
    flex: 1;
}

.placeholder {
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.information {
    font-size: 36px;
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    flex: 1 0 auto;
    min-height: auto;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px;
}

.box {
    border: 2px solid #3882F6;
    border-radius: 10px;
    flex: 1 1 auto;
    width: 160px;
    height: 160px;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 50px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

footer {
    font-style: normal;
}

.action {
    background-color: #3882F6;
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    height: 50px;
    flex-shrink: 0;
}