* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font: "Roboto";
    flex-direction: column;
    justify-content: space-between;
}

.subheader {
    margin: 10px;
    padding: 10px;
    display: flex;
}

.description,
.placeholder {
    flex-basis: 100%;
    border: 1px solid white;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.logotxt {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.information {
    font-size: 36px;
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 50px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

footer {
    font-style: normal;
}

.footer {
    display: flex;
    background-color: #1F2937;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    height: 50px;
}